<h1>New addition</h1>

<form action="/wizard_add">
  
  <div>
    <label for="one">Add this:</label>
    <input id="one" type="text" name="first_num">
  
    <label for="two">to this:</label>
    <input id="two" type="text" name="second_num">

    <button>Add!</button>
  </div>
</form>