<h1>New multiplication</h1>

<form action="/wizard_multiply">
  
  <div>
    <label for="one">Multiply this:</label>
    <input id="one" type="text" name="first_num">
  
    <label for="two">by this:</label>
    <input id="two" type="text" name="second_num">

    <button>Multiply!</button>
  </div>
</form>