<form action="/street_to_coords/results">
  <div>
    <h1>Street address to coordinates calculation</h1>
    <div>
      <label for="one">Street Address</label>
      <input id="one" type="text" name="user_street_address" placeholder="Enter the address">
    </div>
    <button>Lookup Coordinates!</button>
  
  
  </div>


</form>
