<form action="/coords_to_weather/results">
  <div>
    <div>
      <label for="one">Latitude</label>
      <input id="one" type="text" name="user_latitude" placeholder="Enter the latitude">
    </div>
    <div>
      <label for="two">Longitude</label>
      <input id="two" type="text" name="user_longitude" placeholder="Enter the longitude">
    </div>
    <button>Lookup Weather!</button>
  </div>
  
</form>
